In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np

In [43]:
bitcoin_data = pd.read_csv(r'/Users/amuadhikari/Desktop/bitcoin_price_Training - Training.csv')

In [44]:
bitcoin_data

,Date,Open,High,Low,Close,Volume,Market Cap
0,"Jul 31, 2017",2763.24,2889.62,2720.61,2875.34,"860,575,000","45,535,800,000"
1,"Jul 30, 2017",2724.39,2758.53,2644.85,2757.18,"705,943,000","44,890,700,000"
2,"Jul 29, 2017",2807.02,2808.76,2692.80,2726.45,"803,746,000","46,246,700,000"
3,"Jul 28, 2017",2679.73,2897.45,2679.73,2809.01,"1,380,100,000","44,144,400,000"
4,"Jul 27, 2017",2538.71,2693.32,2529.34,2671.78,"789,104,000","41,816,500,000"
...,...,...,...,...,...,...,...
1551,"May 02, 2013",116.38,125.60,92.28,105.21,-,"1,292,190,000"
1552,"May 01, 2013",139.00,139.89,107.72,116.99,-,"1,542,820,000"
1553,"Apr 30, 2013",144.00,146.93,134.05,139.00,-,"1,597,780,000"
1554,"Apr 29, 2013",134.44,147.49,134.00,144.54,-,"1,491,160,000"
1555,"Apr 28, 2013",135.30,135.98,132.10,134.21,-,"1,500,520,000"

In [13]:
bitcoin_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556 entries, 0 to 1555
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1556 non-null   object
 1   Open        1556 non-null   float64
 2   High        1556 non-null   float64
 3   Low         1556 non-null   float64
 4   Close       1556 non-null   float64
 5   Volume      1556 non-null   object
 6   Market Cap  1556 non-null   object
dtypes: float64(4), object(3)
memory usage: 85.2+ KB

In [45]:
bitcoin_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Open,1556.0,582.625328,523.137312,68.50,254.2875,438.600,662.4375,2953.22
High,1556.0,597.992847,542.992855,74.56,260.3275,447.560,674.5250,2999.91
Low,1556.0,567.851446,505.877401,65.53,248.8350,430.570,646.7350,2840.53
Close,1556.0,584.239396,525.904442,68.43,254.3200,438.855,663.4025,2958.11

In [46]:
bitcoin_data.dtypes

Date           object
Open          float64
High          float64
Low           float64
Close         float64
Volume         object
Market Cap     object
dtype: object

In [48]:
bitcoin_data['Market Cap'] = bitcoin_data['Market Cap'].str.replace(' ', '')
bitcoin_data['Market Cap'] = bitcoin_data['Market Cap'].str.replace(',', '')
bitcoin_data['Market Cap'] = bitcoin_data['Market Cap'].astype(float)

In [56]:
bitcoin_data['Volume'] = bitcoin_data['Volume'].str.replace(' ', '')
bitcoin_data['Volume'] = bitcoin_data['Volume'].str.replace(',', '')
bitcoin_data['Volume'] = bitcoin_data['Volume'].str.replace('-', '')
bitcoin_data['Volume']

0        860575000
1        705943000
2        803746000
3       1380100000
4        789104000
           ...
1551
1552
1553
1554
1555
Name: Volume, Length: 1556, dtype: object

In [58]:
bitcoin_data['Date'] = bitcoin_data['Date'].astype('datetime64[ns]')

In [59]:
bitcoin_data['Date']

0      2017-07-31
1      2017-07-30
2      2017-07-29
3      2017-07-28
4      2017-07-27
          ...
1551   2013-05-02
1552   2013-05-01
1553   2013-04-30
1554   2013-04-29
1555   2013-04-28
Name: Date, Length: 1556, dtype: datetime64[ns]